h1{
  font-family: "Pt sans";
  font-size: 50px;
  line-height: 120%;
  font-weight: "bold";
  color: black;
}
h2{
  font-family: "Pt sans";
  font-size: 21px;
  line-height: 120%;
  font-weight: "bold";
  color: black;
}
body{
  font-family: "Pt sans";
  font-size: 14px;
  line-height: 120%;
  font-weight: "bold";
  color: black;
}

.lead {
  font-family: "Pt sans";
  font-size: 21px;
  line-height: 120%;
  font-weight: "bold";
  color: black;
}
